@import "_vars";
@import "mix";
@import "responsive";

html {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

body {
  font-family: $font_main;
  color: $color_black;
  min-width: $tel_xxs;
}

a {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  outline: none !important;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::-moz-focus-inner {
    border: none;
  }

  &:hover {
    transition: all 0.15s ease-in-out;
  }

  &:focus, &:active {
    transition: all 0.15s ease-in-out;
  }
}

.size-container {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  height: 100%;

  @include media_tablet {
    padding: 0 30px;
  }

  @include media_tablet_vert {
    padding: 0 24px;
  }

  @include media_tel_lg {
    padding: 0 15px;
  }

  @include media_tel_xs {
    padding: 0 10px;
  }
}